<ion-app>
    <ion-split-pane>
      <ion-menu type="overlay">
        <ion-content fullscreen>
          <div class="sidemenu-ion-content">
            <ion-list class="sidemenu-ion-list">
  
              <ion-item class="sidemenu-ion-list-item">
                <img class="sidemenu-logo" src="../assets/img/logo-200.png" height="75">
              </ion-item>
  
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                <ion-item class="sidemenu-ion-list-item" [routerDirection]="'root'" [routerLink]="[p.url]">
                  <ion-icon slot="start" color="light" [name]="p.icon"></ion-icon>
                  <ion-label color="light">
                    {{p.title}}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </div>
        </ion-content>
        <ion-footer class="sidemenu-ion-footer">
            <ion-label class="copyright-text" color="dark">© Dream Diver 2019 | Version 1.1.0</ion-label>
        </ion-footer>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
  </ion-app>