<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <img src="../../../assets/img/logo-200.png" height="35">
      </ion-buttons>
    <ion-title>বাংলাদেশী লাইভ টিভি</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <p>
    <ion-chip color="dark" expand="full"
    *ngFor="let c of tvChannels" (click)=goToChannel(c.url)>
        <ion-avatar>
          <img src='{{"../../../assets/img/tv-logos/" + c.logo}}'>
        </ion-avatar>
        <ion-label color="success">{{c.channelName}}</ion-label>
      </ion-chip>
  </p> -->

      <div class="container ">
        
        <!-- ionic grid starts -->
        <ion-grid>
          <ion-row>
            <ion-col col-6 *ngFor="let m of movies" >
              <ion-card (click)="openModal(m.name,m.frame)" style="margin:auto">
               <ion-card-content style="padding: 0 0 12px;">
                 <div [innerHTML]="m.imagehtml"></div>
                  <!-- <ion-card-subtitle color="dark" *ngIf="result.title.rendered">{{result.title.rendered}}
                  </ion-card-subtitle> -->

                  <!-- <ion-card-title>Card Title</ion-card-title> -->
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

<!--        <ion-card (click)="openModal()">
        <ion-card-header>
          <ion-card-subtitle>
          </ion-card-subtitle>
          <ion-grid style="margin-left: 2em;margin-right: 1em;">
            <ion-row>
              <ion-col>
                <img alt="Fast &amp; Furious Presents: Hobbs &amp; Shaw" class="thumb mli-thumb lazy" data-original="https://img.voxzer.org/poster/29103/Fast-Furious-Presents-Hobbs-Shaw-29103-200.jpg" title="Fast &amp; Furious Presents: Hobbs &amp; Shaw" src="https://img.voxzer.org/poster/29103/Fast-Furious-Presents-Hobbs-Shaw-29103-200.jpg" style="display: block;">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
      </ion-card> -->
</ion-content>
