<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <img src="../../../assets/img/logo-200.png" height="35">
      </ion-buttons>
    <ion-title>বাংলাদেশী লাইভ টিভি</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <p>
    <ion-chip color="dark" expand="full"
    *ngFor="let c of tvChannels" (click)=goToChannel(c.url)>
        <ion-avatar>
          <img src='{{"../../../assets/img/tv-logos/" + c.logo}}'>
        </ion-avatar>
        <ion-label color="success">{{c.channelName}}</ion-label>
      </ion-chip>
  </p> -->
  <div class="ml-item" (click)="openModal()"><img alt="Fast &amp; Furious Presents: Hobbs &amp; Shaw" class="thumb mli-thumb lazy" data-original="https://img.voxzer.org/poster/29103/Fast-Furious-Presents-Hobbs-Shaw-29103-200.jpg" title="Fast &amp; Furious Presents: Hobbs &amp; Shaw" src="https://img.voxzer.org/poster/29103/Fast-Furious-Presents-Hobbs-Shaw-29103-200.jpg" style="display: block;"></div>
</ion-content>
